{% extends "user/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

{% block messages %}
    {% if messages %}
    <div>
        <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
  {% endblock %}
 


<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please   <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form  id="signup_form" method="post" action="{% url 'shop_account_signup' %}">
  <div class="form-group">
  {% csrf_token %}
  {{ form.as_p }}
</div>
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
